
{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="auteur" content="">

    <title>{% block title %}participants détail{% endblock %}</title>

    <!--  Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

     <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  

</head>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
              <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fa fa-home"></i>
              </div>
              <div class="sidebar-brand-text mx-3">Accueil</div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Dashboard -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'participants_list' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Participants</span></a>
          </li>

 <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Nav Item - Tables -->
        

        
          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
              <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

              <!-- Topbar -->
              <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
              </button>

              </nav>
              <!-- End of Topbar -->
{% if user.is_authenticated %}
       
                  {% for participants in Participant_detail %}
    
                        <div class="card-body">
                            <br><br>
                         <center> <h2> <strong>{{participants.nom}}  {{participants.prenom}}</strong></h2></center>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">sexe : <strong>{{participants.sexe}}</strong></li>
                          <li class="list-group-item">Age : <strong>{{participants.age}}</strong></li>
                          <li class="list-group-item">Dirigeant :  <strong>{{participants.dirigeant}}</strong> </li>
                          <li class="list-group-item">Residence : <strong>{{participants.residence}}</strong> </li>
                          <li class="list-group-item">Classe: <strong>{{participants.classe}}</strong> </li>
                          <li class="list-group-item">Etablissement : <strong>{{participants.etablissement}}</strong> </li>
                          <li class="list-group-item">Contact  : <strong>{{participants.numero}}</strong></li>
                          <li class="list-group-item">Email  : <strong>{{participants.email}}</strong></li>
                          <li class="list-group-item">Eglise frequenté  : <strong>{{participants.eglise_frequente}}</strong></li>
                          <li class="list-group-item">Poster par : <strong>{{participants.auteur.username}}</strong> </li>
                          <li class="list-group-item">Poster le : <strong>{{participants.add_date}}</strong></li>
                          <li class="list-group-item">Projets : <strong>{{participants.projets | safe}}</strong> </li>
                          <li class="list-group-item">Problème : <strong>{{participants.probleme_particulier | safe}}</strong> </li>
                        </ul>
                         <br>
                        <br>
                        <hr>

                        {% if user.is_authenticated %}
                        {% if user.id == participants.auteur.id or user.id == 1 or user.id == 2 %}
                          
                          <a href="{% url 'edit_participants' participants.pk %}" class="card-link btn btn-success">Editer</a>
                          <a href="{% url 'delete_participants' participants.pk %}" class="card-link btn btn-danger">Supprimer</a> 
                        {% endif %}
                        {% endif %} 
                        </div>  
     
                      </div>
                  
                {% endfor %}
                {% else %}
                  Vous n'êtes pas autoriser avisiter cette page. Comment avez-vous trouvez  ce  lien. Voilà un suspect.......Viens au poste demain je vais annalier ton cas
            {% endif %}
            </div>

   <!--  {% if user.is_authenticated %}
            
            
    {% if user.id == post.auteur.id or user.id == 1 or user.id == 2 %}
   
    {% endif %}

    {% else %}
    Vous n'êtes pas autoriser avisiter cette page. Comment avez-vous trouvez  ce  lien. Voilà un suspect.......
{% endif %} -->


              </div>
              <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                    {% for participants in participants_det %}
                      <strong> {{participants.auteur}} </strong>
                    {% endfor %}
                    <span>Copyright &copy; Pour toute autre activité sur le site contacter  <a href="https://www.facebook.com/Herve-page-100602445047338/" title="97605867">Herve Victor</a></span>
                  </div>
              </div>
          </footer>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
  </a>


      <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>











    

